// Custom VARIABLES ------------------------------------ /

$white: #fff;

$color-primary: #0A1525;
$color-secondary: #4B92DB;
$color-accent: #A5ACAF;
$color-shade: #eee;

$color-text: #343434;
$color-bg: #0A1525;
$color-bg-lt: #0f2039;
$color-bg-light: #4B92DB;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

$max-width: 1000px;