// Custom MIXINS ------------------------------------ /

@mixin skewed {
  position: relative;
  &::before {
    content: '';
    overflow: hidden;
    display: block;
    width: 100%;
    //height: 100%;
    position: absolute;
    transform: skewY(-2deg);
    @content;
  }
}

@mixin center {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin custom-link-style {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-accent;
  }
}