// Tabs Container
.tabs-container {
  margin-bottom: 150px;
  .material-icons {
      position: relative;
      top: 5px;
      width: 24px;
      margin-right: 55px;
  }
}

//* Style the tab */
.tab {
  overflow: hidden;
  border: none; //1px solid #ccc;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  //* Style the buttons inside the tab */
  button {
    color: $color-shade;
    background-color: $color-primary;
    border: 1px solid $color-shade;
    border-radius: 0.25em;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    flex: 1;
    //* Change background color of buttons on hover */
    &:hover {
      background-color: #ddd;
      color: $color-secondary;
    }
    //* Create an active/current tablink class */
    .active {
      background-color: #ccc;
      color: $color-secondary;
    }
  }
} // End of .tab

//* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  .img-resume {
    width: 70px;
    height: 70px;
  }
  .span12 {
    text-align: left;
    margin-left: 20px;
  }
}

//* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}